{% extends 'flatpages/default.html' %}

{% block title %}
Подписка на рассылку
{% endblock title %}

{% block content %}
<b>Подписка на рассылки по категориям публикаций:</b>
 <hr>

   {% if category_list_news %}
       <table>
           <tr>
               <td><b>ID</b></td>
               <td><b>Категория</b></td>
               <td><b>Заголовок</b></td>
               <td><b>Автор</b></td>
               <td><b>Действия</b></td>
           </tr>
        {% for post in category_list_news %}

           <tr>
               <td>{{ post.id}}</td>
               <td>{% for category in post.postCategory.all %}
                   <a href="http://127.0.0.1:8000/subscriptions/{{category.id}}">{{ category }}</a>
               {% endfor %}</td>
               <td><a href=http://127.0.0.1:8000/news/{{post.id}}>{{ post.headline}}</a></td>
               <td>{{ post.author.authUser}}</td>
               <td>    {% if is_not_subscriber %}
                         <p class="text-center"><a href="http://127.0.0.1:8000/subscriptions/{{category.id}}/subscribe" class="btn btn-secondary-sm">Подписаться</a></p>
                        {% else%}
                         <p class="text-center"><a href="http://127.0.0.1:8000/subscriptions/{{category.id}}/unsubscribe" class="btn btn-secondary-sm">Отписаться</a></p>
                        {% endif %}</td>
           </tr>
           {% endfor %}
    </table>
   {% else %}
       <h2>Статей нет!</h2>
   {% endif %}

{% endblock content %}

<!--    {% for category in categories  %}-->
<!--        <p>-->
<!--            {{ category.catName }}-->
<!--            <form method="post">-->
<!--                {% csrf_token %}-->
<!--                <input type="hidden" name="category_id" value="{{ category.id }}" />-->

<!--                {% if category.user_subscribed %}-->
<!--                    <button disabled>Подписаться</button>-->
<!--                    <button name="action" value="unsubscribe">Отписаться</button>-->
<!--                {% else %}-->
<!--                    <button name="action" value="subscribe">Подписаться</button>-->
<!--                    <button disabled>Отписаться</button>-->
<!--                {% endif %}-->
<!--            </form>-->
<!--        </p>-->
<!--    {% endfor %}-->
