<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ flatpage.title }}</title>

        {% load static %}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
           <div class="container">
               <a class="navbar-brand" href="#">Django NEWS Portal</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse"
                       data-target="#navbarResponsive"
                       aria-controls="navbarResponsive" aria-expanded="false"
                       aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarResponsive">
                   <ul class="navbar-nav ml-auto">
                       <li class="nav-item active">
                           <a class="nav-link" href="/news/">Все новости
                               <span class="sr-only">(текущая)</span>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="/news/search/">Поиск публикации</a>
                       </li>
                   </ul>
               </div>

           </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
            <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated == False %}
                <li class="nav-item active">
                <a class="nav-link" href="/accounts/signup/">Регистрация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/accounts/login/">Авторизоваться</a>
            </li>
                {% endif %}
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="">Приветствую, {{ user }}!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/accounts/logout/">Выйти (LogOut)</a>
            </li>


                {% endif %}
            </ul>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% block content %}
                    {{ flatpage.content }}
                   {% endblock content %}
                </div>
            </div>
        </div>
    </body>
</html>
